@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic");
/*=================================================================*/
/*                      Filter list                              
/*=================================================================*/

  .portfolio-filter li {
    color: #5E5C7F;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .portfolio-filter li:hover {
    color: #FF4C60;
  }
  .portfolio-filter li.current {
    color: #FF4C60;
  }
  .portfolio-filter li:not(:last-child) {
    margin-right: 1.8rem;
  }
  
  select.portfolio-filter-mobile {
    font-size: 18px;
    border-radius: 20px;
    outline: 0;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
  }
  
  /* .pf-filter-wrapper {
    position: relative;
  } */
  /* .pf-filter-wrapper:after {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 20px;
    color: #000;
  } */

/*=================================================================*/
/*                      Filter list end                              
/*=================================================================*/

